#ticketArea{
  display:none;
}

#ticket{
  width:72mm;
  margin:auto;
  background:white;
  color:black;
}

@media print{
  body *{
    visibility:hidden;
  }

  #ticketArea,
  #ticketArea *{
    visibility:visible;
  }

  #ticketArea{
    display:block;
  }
}